# Frontend
NEXT_PUBLIC_API_URL=http://backend:4000

# Backend
NODE_ENV=production
PORT=4000
MONGO_URI=mongodb://mongodb:27017/brainbytes

# MongoDB
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password